.navbar-container {
    width: 30%;
    margin: 0px 0px 50px 30px;
    flex-direction: column;
    align-content: center;
    height: 560px;
    /* padding-left: 50px; */
    /* padding-top: 100px; */
    /* z-index: 3; */
    /* -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg); */
    /* overflow: hidden; */
    /* top: -40px; */

}

.navbar-is-active {
    width: 85%;
    position: absolute;
    /* display: block !important; */
}


.navbar {
    z-index: 2;
    opacity: 0;
    animation-name: navbar;
    animation-duration: 1s;
    /* animation-delay: 1.5s; */
    animation-fill-mode: forwards;
    width: 80%;
    padding-left: 0;
    padding-top: 40px;
    top: 0;
    list-style-type: none;
    font-size: 14px;
    /* border-bottom-right-radius: 10px; */
    background-color: #111;
    letter-spacing: 7px;
    overflow: hidden;



    /* transition: font-size 0.25s ease; */
}

.navbar-active {
    display: block !important;
    text-align: center;
    color: white;

}


.selected {
    font-size: 16px;
    letter-spacing: 9px;
    -webkit-transition: background-color 0.24s ease;
    -moz-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: font-size 0.25s ease;
    color: white;
    /* color: blue; */
    /* border-left: 4px solid blue; */
}

@keyframes navbar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




#list_total {
    padding-left: 0px;
    margin-top: 0;
    list-style-type: none;
    padding-block-start: 4em;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    /* color: white; */
}




/* the actual color of the nav font */
li {
    color: rgb(3, 3, 3);
    transition: font-size 0.25s ease;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
}



.li_navbar {
    min-height: 77px;
    /* transition: font-size 0.25s ease; */
}




li a:hover {
    color: black;
    /* background-color: #ffff33; */
    transition: font-size 0.25s ease;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}


.btn:hover {
    background-color: #111;
    border-bottom-right-radius: 10px;
}