.portfolio-websites {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}










.flip_spellgeek {
    background-color: transparent;
    width: 300px;
    height: 220px;
    padding: 20px 20px 0px 20px;
}

.img_spellgeek {
    width: 100%;
    height: 100%;
}


.flip_inner_spellgeek {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip_spellgeek:hover .flip_inner_spellgeek {
    transform: rotateY(180deg);
}

.flip_front_spellgeek,
.flip_back_spellgeek {
    position: absolute;
    /* width: 200px; */

    backface-visibility: hidden;
}

.flip_front_spellgeek {

    color: black;
}

.flip_back_spellgeek {

    color: black;
    transform: rotateY(180deg);
}















.flip-hotel-booking-form {
    background-color: transparent;
    width: 300px;
    height: 220px;
    padding: 20px 20px 0px 0px;
    ;
}

.img-hotel-booking-form {
    width: 100%;
    height: 100%;
}


.flip-inner-hotel-booking-form {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-hotel-booking-form:hover .flip-inner-hotel-booking-form {
    transform: rotateY(180deg);
}

.flip-front-hotel-booking-form,
.flip-back-hotel-booking-form {
    position: absolute;
    width: 100%;
    height: 100%;
    /* width: 200px; */

    backface-visibility: hidden;
}

.flip-front-hotel-booking-form {

    color: black;
}

.flip-back-hotel-booking-form {

    color: black;
    transform: rotateY(180deg);
}






















.flip-umthunzi {
    background-color: transparent;
    width: 300px;
    height: 220px;
    padding: 20px;
}

.img-umthunzi {
    width: 100%;
    height: 100%;
}


.flip-inner-umthunzi {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-umthunzi:hover .flip-inner-umthunzi {
    transform: rotateY(180deg);
}

.flip-front-umthunzi,
.flip-back-umthunzi {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-front-umthunzi {

    color: black;
}

.flip-back-umthunzi {

    color: black;
    transform: rotateY(180deg);
}




.flip-todo {
    background-color: transparent;
    width: 300px;
    height: 220px;
    padding: 20px 20px 0px 20px;
}

.img-todo {
    width: 100%;
    height: 100%;
}


.flip-inner-todo {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-todo:hover .flip-inner-todo {
    transform: rotateY(180deg);
}

.flip-front-todo,
.flip-back-todo {
    position: absolute;
    /* width: 200px; */

    backface-visibility: hidden;
}

.flip-front-todo {

    color: black;
}

.flip-back-todo {

    color: black;
    transform: rotateY(180deg);
}