.flip_boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 250px;
}

.flip_html {
    background-color: transparent;
    width: 150px;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

}

#revealText {
    display: none;
}

.flip_html:hover,
.flip_html:focus,
.flip_html:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

,

+#revealText {
    display: inline;
}

/* .flip_html:hover+#revealText {
    display: inline;
} */





/* .flip_inner_html {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#html-text {
    padding: 10px;
}

.flip_html:hover .flip_inner_html {
    transform: rotateY(180deg);
}

.flip_front_html,
.flip_back_html {
    position: absolute;
   
    backface-visibility: hidden;
}

.flip_front_html {
   
    color: black;
}

.flip_back_html {
 
    color: black;
    transform: rotateY(180deg);
} */

.img_html {
    width: 100%;
    height: 100%;
}

.flip_css {
    background-color: transparent;
    width: 150px;
    /* border: 1px solid #f1f1f1; */
    /* perspective: 1000px;  */
}

.flip_inner_css {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip_css:hover .flip_inner_css {
    transform: rotateY(180deg);
}

.flip_front_css,
.flip_back_css {
    position: absolute;
    /* width: 100%;
  height: 100%; */
    backface-visibility: hidden;
}

.flip_front_css {
    /* background-color: #bbb; */
    color: black;
}

.flip_back_css {
    /* background-color: dodgerblue; */
    color: black;
    transform: rotateY(180deg);
}

.img_css {
    width: 100%;
    height: 100%;
}



.flip_js {
    background-color: transparent;
    width: 150px;
    /* border: 1px solid #f1f1f1; */
    /* perspective: 1000px;  */
}

.flip_inner_js {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip_js:hover .flip_inner_js {
    transform: rotateY(180deg);
}

.flip_front_js,
.flip_back_js {
    position: absolute;
    /* width: 100%;
  height: 100%; */
    backface-visibility: hidden;
}

.flip_front_js {
    /* background-color: #bbb; */
    color: black;
}

.flip_back_js {
    /* background-color: dodgerblue; */
    color: black;
    transform: rotateY(180deg);
}

.img_js {
    width: 100%;
    height: 100%;
}